<!DOCTYPE html>

<html lang="en">


{% extends 'experiment/base.html' %}


{% block content %}
<section>
    <h1>Informed consent to participate in the research study</h1>
    <p class='paragraph'>This experimental session is&nbsp;part of&nbsp;the research project carried out at&nbsp;the Department of&nbsp;Languages at&nbsp;the University of&nbsp;Helsinki. By&nbsp;agreeing, you certify your willingness to&nbsp;participate in&nbsp;the study and give&nbsp;us your consent to&nbsp;use the responses for research purposes (preprocessing, analysis, publication, archiving and sharing). <br>
    All your responses will be&nbsp;recorded automatically. Your participation in&nbsp;the study will be&nbsp;completely anonymous.
	</p>
	<p class='paragraph'>The duration of&nbsp;the experiment is&nbsp;approximately 50&nbsp;minutes with a&nbsp;possibility to&nbsp;take short breaks (2-3&nbsp;minutes). However, please make sure to&nbsp;complete the experiment within 1&nbsp;hour. If&nbsp;you exceed this time limit, you will not be&nbsp;compensated.
	</p>
	<p>Please make sure that you are closely following task instructions. If&nbsp;you are not, unfortunately, we&nbsp;will not be&nbsp;able to&nbsp;compensate for your time.
	</p>
    <form method="post">{% csrf_token %}
    <input type="submit" name='consent' value ="I agree">
    <input type="submit" name='consent' value ="I disagree">
</form>

</section>
{% endblock %}