<!DOCTYPE html>

<html lang="fi">


{% extends 'experiment/base.html' %}


{% block content %}
<section class='end'>
    <h1>Thank you!</h1>
    <p class='paragraph'>The experiment is now finished.</p>
    <a href='https://app.prolific.co/submissions/complete?cc=7487453C'>Link to prolific</a>
</section>
{% endblock %}