<!DOCTYPE html>

<html lang="fi">


{% extends 'experiment/base.html' %}


{% block content %}
<section class='end'>
    <h1>Oops!</h1>
    <p>Something went wrong and we didn't get your Prolific ID. Please try again or contact us.</p>
</section>
{% endblock %}