<!DOCTYPE html>

<html lang="en">


{% extends 'experiment/base.html' %}


{% block content %}
<section>
    <h1>Oops!</h1>
    <p class='paragraph'>Thank you for the interest in our research! Our data show that you have already taken part in this experiment. Unfortunately, you cannot repeat it. Look out for our new studies!
	</p>

</section>
{% endblock %}