<!DOCTYPE html>

<html lang="en">


{% extends 'experiment/base.html' %}


{% block content %}
<section>
    <h1>The main task is now completed</h1>
    <p class='paragraph'>You are almost done! All you have to complete is a short feedback form</p>
    <a href='{% url 'feedback' %}'>Proceed</a>
</section>
{% endblock %}