<!DOCTYPE html>

<html lang="en">


{% extends 'experiment/base.html' %}


{% block content %}
<section>
    <h1>Training completed!</h1>
    <p>Now you are ready for the experiment. The task in&nbsp;the experiment stays the same, but now you will listen to&nbsp;the recording only once. The instructions you are already familiar with will be&nbsp;repeated before every new recording in&nbsp;case you want to&nbsp;consult them again.</p>
    <form method="post" action=''>{% csrf_token %}
    <input type="submit" name='next' value ="Proceed">
</form>
</section>
{% endblock %}